<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django Level Two</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static "css/makestyle.css"%}">
    </head>
    <body>
        <h1>Welcome to Django</h1>
        <h2>Here are the users</h2>

        {% if users %}
           
            {% for user in users%}
            <h2>User Info</h2>
            <ul>
                <li>{{user.first_name}}</li>
                <li>{{user.last_name}}</li>
                <li>{{user.email}}</li>
            </ul>
            {% endfor %}
            
        
        {%else%}
            <p>No users found!</p>

        {% endif %}
    </body>
</html>