{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}

    {% if registered %}
        <h1>Thank you for registering!</h1>
    {% else %}
        <h1>Register Here!</h1>
        <h3>Fill out the form</h3>

        {% comment %} since we're using multimedia data that we're uploading image, we use enctype {% endcomment %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form.as_p}}
            {{profile_form.as_p}}
            <input type="submit" value="Register"/>
        </form>

    {% endif %}

{% endblock %}